*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1,h2,h3{
    text-align: center;
    background-color: rgb(231, 184, 243);
}

form{
    width: 500px;
    margin: auto;
    
}
.botones{
    display: flex;
}
section{
    width: 500px;
    margin: auto;
}

.hidden{
    display: none;
    
}